.md-editor-textarea {
	height: 400px;
}

.fa-caret-up:hover {
	color: rgb(0, 123, 255);
}

.fa-caret-down:hover {
	color: rgb(0, 123, 255);
}

.display-4 button {
	width: 180px;
}

.eq-preview {
	display: block;
	margin: 0 auto;
}

