html {
    overflow-y: scroll;
} 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  background-color: #fbfbfb;
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.toBold {
  font-weight: bold;
}

.toTitle {
  font-family: 'Acme';
  text-align: center;
}

.navbar {
  background-color: #A15959; 
  padding: 0;
  border-bottom: 1px solid #fbfbfb;
  margin-bottom: 0px;
}

.navbar-container {
  position: relative;
}

.navbar-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.navbar-head,
.navbar-mid,
.navbar-tail,
#create-quiz,
#head-ava,
#searcher,
#category {
  display: table-cell;
  vertical-align: middle;
}

#searcher {
  background-color: #A15959;
}

.navbar-mid {
  width: 60%;
}

.navbar-brand > a {
  /*font-size: 30px;*/
  font-weight: 800;
  display: block;
  color: #fbfbfb !important;
  text-decoration: none !important;
  word-wrap: break-word;
  white-space: pre;

  background: -webkit-linear-gradient(90deg, #FFE5E5 4%, #fff 50%, #FFE5E5 77%);
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 58px;
 
}

.navbar-mid-row {
/*  float: right;*/
  border-spacing: 5px;
}

.navbar-mid .input-group {
  max-width: 60%;
  margin: 0 auto;
  background-color: white;
  border: transparent 1px solid;
  border-radius: 4px;
}

.navbar-mid .input-group input[type="search"] {
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 18px;
}

#category a {
  color: #393533;
  font-weight: bold;
}

.nav-category {
  display: table-cell;
  padding: 10px 5px;
}

.nav-category > a {
  color: #fbfbfb;
  text-decoration: none;
}

.nav-category ul {
  margin-top: 10px;
}

.nav-category > ul > li {
  padding: 7px 20px;
}

.nav-category > ul > li:hover {
  background-color: #ececec;
}

.navbar-tail-row {
  float: right;
  border-spacing: 5px;
}

.fa-plus-circle {
  font-size: 20px;
}

#head-ava img {
  width: 45px;
  cursor: pointer;
  border-radius: 50%;
}

#head-ava::after {
  display: none;
}

li.nav-category {
  border-spacing: 0;
}

.navbar-tail .nav-category ul {
  margin-top: 10px;
  left: -100%;
  width: 11rem;
}

.questholder {
  background-color: #93A4A4;
}

.questholder:hover {
  text-shadow: 1px 1px #CDD4D4;
}

/* CSS here */
.btn {
  white-space: normal;
}