#home-page {
  margin-top: 50px;
}

#home-category {
  /*width: 140px;*/
  font-size: 20px;
  text-align: center;
  background-color: #393533;
  color: #fbfbfb;
}

#home-cate-list {
  background-color: #fbfbfb;
  /*margin-top: 20px;*/
  list-style: none;
  color: #666666;
  /*border: 1px solid #d3d3d3; */
  /*text-align: center;*/
  padding: 0px;
  padding-top: 20px;
}

#home-cate-list li {
  padding: 10px;
  font-size: 16px;
  /*border: 1px solid #d3d3d3;*/
}

.qz_list_title {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
}