#qz_quiz_approval {
    display: flex;
    height: calc(100vh - 60px);
}

#qz_pending_list {
    padding: 30px 20px;
    overflow-y: scroll;
    height: 600px;
}

#qz_pending_list::-webkit-scrollbar {
    width: 7px;
    /* display: none; */
}

#qz_pending_list::-webkit-scrollbar-track {
    /* background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

#qz_pending_list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#qz_detail_quiz {
    border-left: 1px solid #cacaca;
    flex: 1;
    padding: 30px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#qz_detail_quiz::-webkit-scrollbar {
    width: 7px;
    /* display: none; */
}

#qz_detail_quiz::-webkit-scrollbar-track {
    /* background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
}

#qz_detail_quiz::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.qz_quiz_item {
    border-bottom: 1px solid #dadada;
    padding: 5%;
    background-color: #fbfbfb;
    position: relative;
    top: 0px;
    transition: .1s all ease;
    /* margin: 10px 10px; */
}
.selected_quiz {
    background-color: #efefff;
}

.qz_quiz_item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    top: -5px;
    z-index: 2;
    top: -5px;
}

.qz_quiz_title {
    font-weight: 600;
    font-size: 30px;
}

.qz_quiz_rating {
    margin-top: 5px;
}

.checked {
    color: orange;
}

.qz_quiz_author {
    color: #666666;
}

.qz_quiz_cate {
    color: #666666;
    font-style: italic;
}
.qz_detail_title {
    font-size: 24px;
    font-weight: 600;
}

.qz_detail_figure {
    margin: auto;
    margin-top: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #acacac;
    background-color: white;
}

.qz_detail_desc {
    margin: 5px 0;
}

.qz_detail_group_button {
    /*margin: auto;*/
    display: flex;
    justify-content: center;
    table-layout: fixed;
    width: 100%;
    margin: 20px 0;
    /*width: 304px;*/
}

.qz_approval_button {
    display: inline-block;
    margin: 0 20px;
    width: 120px;
    height: 50px;
    background-color: white;
    border: 2px solid #cacaca;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border: 1px dashed #393939;
}