.avatar {
	width: 50%;
    height: auto;
}

#quiz-page {
    margin-top: 5%;
}

#drop-btn {
    border-style: dashed;
}

#quiz-category {
    width: 80%;
    height: auto;

}

#left-body {
    /*padding-top: 10%;*/
    padding-right: 2%;
}

#main-body {
    /*border: 1px solid #cacaca;*/
    padding: 3%;
    background-color: #fbfbfb;
}
#right-body {
    padding-left: 2%;
}

#answer-list {
    padding: 2px;
}

#answer-list li {
    margin: 3%;
}

#ques_detail > button {
    background: white;
    border-style: solid;
    border-radius: 5px;
}

#ques_detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quest-box {
    min-height: 500px;
    padding: 50px 50px;
    background-color: #fbfbfb;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-top: 10px;
}

.quest-category {
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    color: #393533;
    position: absolute;
    top: 50px;
}

.quest-wrapper {
    margin-bottom: 50px;
}

.quest-box img {
    max-width: 100%;
    height: auto;
}

.scoreboard {
    background-color: #fbfbfb;
    padding : 20px 20px;
    font-size: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.btn-submit-quiz {
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: #fbfbfb;
    background-color: #A15959;
}

.btn-info:hover {
    background-color: #C08383;
    color: #fbfbfb;
    border-color: #C08383;
    border-radius: 0px;
}

.btn-info {
    color: black;
    background-color: #FFE5E5;
    border-color: #C08383;
    border-radius: 0px;
}

.btn-info-active {
    background-color: #C08383;
    color: #fbfbfb;
    border-color: #C08383;
    border-radius: 0px;
}

.btn-info > p {
    margin: 0;
}

.btn-info-active > p {
    margin-bottom: auto;
}